@using WebApplicationTutorial1.Models
@{
    var title = "This is title";
    var profile = new Profile(){Name = "Ashik", Age=26, City = "Dhaka"};
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
</head>
<body>
    <h1>Welcome to Home Page</h1>
    @if (profile.Weight.HasValue)
        {            
        <p>Hello, @profile.Name from @profile.City. We see, you're @profile.Age years old and your 
        weight is @profile.Weight Kg.</p>
        }
        else
        {
        <p>Hello, @profile.Name from @profile.City. We see, you're @profile.Age years old and you
        haven't provided your wight yet.</p>
        }
    </body>
</html>